$color-base: #6c542f;
$color-base-tint-1: #c1b19c;
$color-base-tint-2: #d3ccc1;
$color-base-tint-3: #f0eeea;
$color-base-dark: #4e4231;
$color-gray: #857c6e;
$color-primary: #f56320;
$color-primary-dark: #f67336;

$break-xl: 1300px;
$break-l: 1100px;
$break-m: 900px;
$break-sm: 700px;
$break-s: 600px;
$break-xs: 400px;

@mixin container {
  max-width: 125rem;
  margin: 0 auto;
  padding: 0 3rem;

  @media (max-width: $break-m) {
    padding: 0 2rem;
  }
}

@mixin flex-col($gap) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap;
}

@mixin flex-col-center($gap) {
  @include flex-col($gap);
  text-align: center;
}

@mixin flex-col-left($gap) {
  @include flex-col($gap);
  text-align: left;
}

@mixin flex-col-right($gap) {
  @include flex-col($gap);
  text-align: right;
}

@mixin flex-row-center($gap) {
  display: flex;
  gap: $gap;
}

@mixin selection {
  * {
    &::selection {
      color: $color-primary;
    }
  }
}

@mixin section-heading {
  h1 {
    width: 60%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 5.6rem;
    letter-spacing: -1.2px;
    line-height: 1.15;
    padding-top: 8.5rem;
    position: relative;

    @media (max-width: $break-l) {
      width: 80%;
    }
    @media (max-width: $break-m) {
      width: 95%;
      font-size: 5rem;
    }

    &:before {
      content: "";
      position: absolute;
      width: 5rem;
      height: 0.5rem;
      background-color: $color-base-tint-2;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }

    & + p {
      font-size: 2rem;
      color: $color-gray;
      margin-bottom: 1.7rem;
      line-height: 1.5;
    }
  }
}

@mixin image {
  width: 100%;
  height: auto;
}
