@use "./_styles/global.scss";

.home {
  color: global.$color-base;
  @include global.selection;
  @include global.flex-col-center(15rem);

  strong {
    color: global.$color-primary;
  }

  & section:not(:last-child) {
    @include global.container;
    margin-bottom: 15rem;
  }
}
