@use "./_styles/global.scss";

.home {
  margin-top: 16.5rem;

  @media (max-width: global.$break-sm) {
    margin-top: 0;
  }

  color: global.$color-base;
  @include global.selection;
  @include global.flex-col-center(15rem);

  strong {
    color: global.$color-primary;
  }

  & section:not(:first-child, :last-child, :nth-child(8)) {
    @include global.container;
  }
}
