@use "./_styles/global.scss";

.home {
  margin-top: 16.5rem;

  color: global.$color-base;
  @include global.selection;
  @include global.flex-col-center(15rem);

  strong {
    color: global.$color-primary;
  }

  & section:not(:first-child, :last-child, :nth-child(8)) {
    @include global.container;
    // margin-bottom: 15rem;
  }
}
