@use "../_styles/global";

.about {
  @include global.section-heading;
  @include global.flex-col-center(3rem);

  ul {
    @include global.flex-row-center(3rem);

    li {
      @include global.flex-col-center(2rem);
      width: 50%;
      background-color: #fff;
      border-radius: 2rem;
      border: 1px solid global.$color-base-tint-3;
      padding: 3rem 0;

      figure {
        height: 45rem;
        padding: 0 3rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: scale-down;
        }
      }

      figcaption {
        label {
          font-weight: 600;
          display: inline-block;
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }

        header {
          font-weight: 700;
          font-size: 3.2rem;
          margin-bottom: 3rem;
        }

        p {
          font-size: 1.8rem;
          line-height: 2.8rem;
          padding: 0 6rem;
          text-align: left;

          strong {
            font-weight: 700;
          }
        }
      }
    }
  }
}
