@use "../_styles/global";

.faqs {
  @include global.flex-row-center(4rem);
  justify-content: left;

  header {
    width: 55%;
    @include global.section-heading;
    @include global.flex-col-left(3rem);

    h1 {
      width: 100%;
    }
  }

  ul {
    width: 45%;
    @include global.flex-col-left(0);

    li {
      @include global.flex-row-center(0);
      justify-content: space-between;
      font-size: 2rem;
      font-weight: 500;
      padding: 2rem;

      border-bottom: 1px solid global.$color-base-tint-3;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
