@use "@/app/_styles/global";

.cta {
  @include global.flex-col-center(3rem);

  padding: 15rem 0;
  background-color: global.$color-base-dark;
  color: global.$color-base-tint-3;

  header {
    font-weight: 800;
    font-size: 6.4rem;
  }

  p {
    width: 60%;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 1.5;
    color: global.$color-base-tint-3;
  }

  form {
    @include global.flex-row-center(1rem);
    justify-content: center;
    width: 60rem;
    margin: 0 auto;

    label {
      position: relative;
      width: inherit;
      margin: auto 0;

      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-45%);
        font-size: 2.5rem;
        color: global.$color-base-tint-2;
        margin: 0 1.5rem;
      }

      input {
        font-size: 2rem;
        border: none;
        border-radius: 0.5rem;
        padding: 1.5rem 1.5rem 1.5rem 5rem;
        color: #fff;
        width: 100%;
        background-color: rgba(#000, 0.2);

        &:focus {
          outline: none;
          border: 2px solid global.$color-primary;
          padding: 1.3rem 1.3rem 1.3rem 4.8rem;
        }

        &::placeholder {
          color: global.$color-base-tint-1;
        }
      }
    }
  }
}
