@use "@/app/_styles/global";

.faqs {
  @include global.flex-row-center(4rem);
  justify-content: left;

  & > header {
    width: 45%;
    @include global.section-heading;
    @include global.flex-col-left(3rem);
    justify-content: flex-start;

    & > h1 {
      width: 100%;

      &:before {
        left: 0;
        margin: 0 2rem;
      }
    }
  }

  & > ul {
    width: 55%;
    @include global.flex-col-left(0);
    justify-content: flex-start;
  }
}
