@use "@/app/_styles/global";

.hero {
  position: relative;
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;

  div {
    padding-left: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 65%;
    padding-top: 15rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1.5rem;

    @media (max-width: global.$break-xl) {
      width: 70%;
    }

    @media (max-width: global.$break-l) {
      width: 85%;
      padding-top: 10rem;
    }

    @media (max-width: global.$break-m) {
      position: static;
      width: 100%;
      padding-right: 1rem;
      padding-bottom: 10rem;
      background-color: rgba(global.$color-primary, 0.07);
    }

    h1 {
      width: 100%;
      font-size: 6.5rem;
      font-weight: bold;
      line-height: 1.1;
      margin-bottom: 1rem;
      letter-spacing: -1.5px;

      @media (max-width: global.$break-sm) {
        font-size: 6rem;
      }

      @media (max-width: global.$break-s) {
        font-size: 5rem;
      }
    }

    p {
      width: 65%;
      color: global.$color-gray;
      font-size: 1.8rem;
      line-height: 1.7;
      margin-bottom: 1rem;

      @media (max-width: global.$break-m) {
        width: 95%;
      }

      @media (max-width: global.$break-s) {
        font-size: 1.6rem;
      }
    }

    a {
      width: max-content;
    }

    div {
      background-color: global.$color-primary;
      top: 100%;
      left: 0%;
    }
  }

  figure {
    width: 42%;
    margin-left: auto;
    margin-right: 2rem;

    @media (max-width: global.$break-xl) {
      width: 50%;
    }

    @media (max-width: global.$break-l) {
      width: 55%;
    }

    @media (max-width: global.$break-m) {
      display: none;
    }

    img {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      filter: contrast(103%) saturate(105%);
    }
  }
}
