@use "@/app/_styles/global";

.social {
  ul {
    content: "";
    position: fixed;
    right: 0;
    top: 25vh;
    z-index: 1000;
    padding-right: 3.5rem;

    @include global.flex-col-center(2rem);
    li {
      font-size: 2.5rem;
      color: global.$color-base-tint-1;
      transition: all 0.25s;

      &:hover {
        color: global.$color-base;
      }
    }

    @media (max-width: global.$break-m) {
      position: static;
      padding: 1rem;
      justify-content: end;
      flex-direction: row;
      transform: translateY(-570%);
    }

    @media (max-width: global.$break-s) {
      transform: translateY(-50%);
    }
  }
}
